.sider {
  width 256px
  height 100vh

  .logo {
    width 100px
    margin 10px 78px
    cursor pointer
  }

  .subMenu {
    div {
      > span {
        padding-left 20px
      }
    } 
    ul {
      li {
        padding-left 70px !important
      }
    }
  }
}