@import '~antd/dist/antd.css';

.App {
  /* text-align: center; */
}

.layout{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.content{
  width: calc( 100vw - 256px);
  height: calc(100vh - 48px);
  display: flex;
  background-color: #EAEDF0;
  position: relative;
}